<section class="ui-about">
    <img class="ui-about__image" src="../../../../assets/about.png" />
    <article class="ui-about__content">
        <h3 class="ui-about__content-title">
            I’m Amy, and I’d love to work on your next project
        </h3>
        <p class="ui-about__content-text">
            I love working with others to create beautiful design solutions. I’ve designed everything from brand
            illustrations to complete mobile apps. I’m also handy with a camera!
        </p>
        <ui-button label="Free Consultation" type="secondary" />
    </article>
</section>