@import '../../../../styles/fonts';
@import '../../../../styles/colors';

.ui-about {
    max-width: 1111px;
    width: 90%;
    min-height: 200px;
    height: max-content;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: auto;
    gap: 40px;

    @media (min-width: 768px) {
        grid-template-columns: auto 45%;
    }

    &__image {
        width:  300px;
        height: 300px;
        align-self: center;
        justify-self: center;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;

        @media (min-width: 1024px) {
            width: 445px;
            height: 445px;
            justify-self: flex-start;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        @media (min-width: 768px) {
            align-items: flex-start;
            justify-content: center;
        }

        @media (min-width: 1024px) {
            gap: 32px;
        }

        &-title {
            @extend .heading-m;
            text-align: center;
            font-size: $heading-m-mobile;

            @media (min-width: 768px) {
                font-size: $heading-m-tablet;
                text-align: left;
            }
            @media (min-width: 1024px) {
                font-size: $heading-m-desktop;
            }
        }
        &-text {
            @extend .text;
            text-align: center;
            color: $medium-brown;

            @media (min-width: 768px) {
                text-align: left;
            }
        }
    }
}