<section class="ui-grid-columns">
    <div class="ui-grid-columns__wrapper">
        <div class="ui-grid-columns__left">
            <div class="ui-grid-columns__item ui-grid-columns__item--large">
                <svg class="ui-grid-columns__item-icon" width="128" height="192" viewBox="0 0 128 192" fill="none">
                    <rect width="64" height="128" fill="#552049" />
                    <circle cx="32" cy="32" r="14" stroke="#FFF7F0" stroke-width="4" />
                    <rect x="64" y="32" width="64" height="32" rx="16" fill="#F6A560" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32 160L64 192V160H32Z" fill="#61C4B7" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M64 128L96 160V128H64Z" fill="#61C4B7" />
                    <circle cx="112" cy="48" r="14" stroke="#FFF7F0" stroke-width="4" />
                    <circle cx="112" cy="48" r="14" stroke="#FFF7F0" stroke-width="4" />
                    <rect x="64" y="14" width="4" height="4" fill="#030303" />
                    <rect x="68" y="14" width="4" height="4" fill="#030303" />
                    <rect x="92" y="14" width="4" height="4" fill="#030303" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M96 0L128 32V0H96Z" fill="#755CDE" />
                    <rect x="96" y="14" width="4" height="4" fill="#030303" />
                    <rect x="120" y="14" width="4" height="4" fill="#030303" />
                    <rect x="124" y="14" width="4" height="4" fill="#030303" />
                    <circle cx="80" cy="80" r="14" stroke="#030303" stroke-width="4" />
                    <rect x="96" y="64" width="32" height="32" fill="#EB7565" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32 96L128 192V96H32Z" fill="#FFF7F0" />
                    <rect y="128" width="4" height="4" fill="#030303" />
                    <rect x="14" y="128" width="4" height="4" fill="#030303" />
                    <rect x="28" y="128" width="4" height="4" fill="#030303" />
                    <rect y="142" width="4" height="4" fill="#030303" />
                    <rect x="14" y="142" width="4" height="4" fill="#030303" />
                    <rect x="28" y="142" width="4" height="4" fill="#030303" />
                    <rect y="156" width="4" height="4" fill="#030303" />
                    <rect x="14" y="156" width="4" height="4" fill="#030303" />
                    <rect x="28" y="156" width="4" height="4" fill="#030303" />
                </svg>
                <p class="ui-grid-columns__item-title">Graphic Design</p>
            </div>
            <div class="ui-grid-columns__left-container">
                <div class="ui-grid-columns__left-group">
                    <div class="ui-grid-columns__item ui-grid-columns__item--small ui-grid-columns__item--yellow">
                        <svg class="ui-grid-columns__item-icon" width="64" height="64" viewBox="0 0 64 64" fill="none">
                            <circle cx="48" cy="16" r="14" stroke="#030303" stroke-width="4" />
                            <rect width="32" height="32" fill="#EB7565" />
                            <rect y="32" width="4" height="4" fill="#030303" />
                            <rect x="14" y="32" width="4" height="4" fill="#030303" />
                            <rect x="28" y="32" width="4" height="4" fill="#030303" />
                            <rect y="46" width="4" height="4" fill="#030303" />
                            <rect x="14" y="46" width="4" height="4" fill="#030303" />
                            <rect x="28" y="46" width="4" height="4" fill="#030303" />
                            <rect y="60" width="4" height="4" fill="#030303" />
                            <rect x="14" y="60" width="4" height="4" fill="#030303" />
                            <rect x="28" y="60" width="4" height="4" fill="#030303" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M32 32L64 64V32H32Z" fill="#FFF7F0" />
                        </svg>
                        <p class="ui-grid-columns__item-title">UX/UI</p>
                    </div>
                    <div class="ui-grid-columns__item ui-grid-columns__item--small ui-grid-columns__item--pastel">
                        <svg class="ui-grid-columns__item-icon" width="64" height="64" viewBox="0 0 64 64" fill="none">
                            <rect y="32" width="64" height="32" rx="16" fill="#552049" />
                            <circle cx="48" cy="48" r="14" stroke="#FFF7F0" stroke-width="4" />
                            <rect y="14" width="4" height="4" fill="#030303" />
                            <rect x="4" y="14" width="4" height="4" fill="#030303" />
                            <rect x="28" y="14" width="4" height="4" fill="#030303" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M32 0L64 32V0H32Z" fill="#755CDE" />
                            <rect x="32" y="14" width="4" height="4" fill="#030303" />
                            <rect x="56" y="14" width="4" height="4" fill="#030303" />
                            <rect x="60" y="14" width="4" height="4" fill="#030303" />
                        </svg>
                        <p class="ui-grid-columns__item-title">Apps</p>
                    </div>
                </div>
                <div class="ui-grid-columns__item ui-grid-columns__item--medium ui-grid-columns__item--orange">
                    <svg class="ui-grid-columns__item-icon" width="129" height="64" viewBox="0 0 129 64" fill="none">
                        <circle cx="112.913" cy="16" r="14" stroke="#FFF7F0" stroke-width="4" />
                        <rect x="64.9126" width="32" height="32" fill="#755CDE" />
                        <rect x="96.9126" y="32" width="4" height="4" fill="#030303" />
                        <rect x="110.913" y="32" width="4" height="4" fill="#030303" />
                        <rect x="124.913" y="32" width="4" height="4" fill="#030303" />
                        <rect x="96.9126" y="46" width="4" height="4" fill="#030303" />
                        <rect x="110.913" y="46" width="4" height="4" fill="#030303" />
                        <rect x="124.913" y="46" width="4" height="4" fill="#030303" />
                        <rect x="96.9126" y="60" width="4" height="4" fill="#030303" />
                        <rect x="110.913" y="60" width="4" height="4" fill="#030303" />
                        <rect x="124.913" y="60" width="4" height="4" fill="#030303" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M64.9126 32L96.9126 64V32H64.9126Z"
                            fill="#F39E9E" />
                        <rect x="32.9126" y="32" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" y="32" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" y="32" width="4" height="4" fill="#030303" />
                        <rect x="32.9126" y="56" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" y="56" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" y="56" width="4" height="4" fill="#030303" />
                        <rect x="32.9126" y="60" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" y="60" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" y="60" width="4" height="4" fill="#030303" />
                        <rect x="32.9126" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" width="4" height="4" fill="#030303" />
                        <rect x="32.9126" y="4" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" y="4" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" y="4" width="4" height="4" fill="#030303" />
                        <rect x="32.9126" y="28" width="4" height="4" fill="#030303" />
                        <rect x="46.9126" y="28" width="4" height="4" fill="#030303" />
                        <rect x="60.9126" y="28" width="4" height="4" fill="#030303" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.912598 32L32.9126 64V32H0.912598Z"
                            fill="#61C4B7" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32.9126 0L0.912598 32V0H32.9126Z"
                            fill="#FFF7F0" />
                    </svg>
                    <p class="ui-grid-columns__item-title">Illustrations</p>
                </div>
            </div>
        </div>
        <div class="ui-grid-columns__right">
            <div class="ui-grid-columns__right__wrapper">
                <div class="ui-grid-columns__item ui-grid-columns__item--medium ui-grid-columns__item--cyan">
                    <svg class="ui-grid-columns__item-icon" width="160" height="64" viewBox="0 0 160 64" fill="none">
                        <rect x="32" width="64" height="64" fill="#EB7565"/>
                        <circle cx="16" cy="16" r="14" stroke="#030303" stroke-width="4"/>
                        <circle cx="64" cy="32" r="14" stroke="#FFF7F0" stroke-width="4"/>
                        <rect x="128" y="32" width="4" height="4" fill="#030303"/>
                        <rect x="142" y="32" width="4" height="4" fill="#030303"/>
                        <rect x="156" y="32" width="4" height="4" fill="#030303"/>
                        <rect x="128" y="56" width="4" height="4" fill="#030303"/>
                        <rect x="142" y="56" width="4" height="4" fill="#030303"/>
                        <rect x="156" y="56" width="4" height="4" fill="#030303"/>
                        <rect x="128" y="60" width="4" height="4" fill="#030303"/>
                        <rect x="142" y="60" width="4" height="4" fill="#030303"/>
                        <rect x="156" y="60" width="4" height="4" fill="#030303"/>
                        <rect x="128" width="4" height="4" fill="#030303"/>
                        <rect x="142" width="4" height="4" fill="#030303"/>
                        <rect x="156" width="4" height="4" fill="#030303"/>
                        <rect x="128" y="4" width="4" height="4" fill="#030303"/>
                        <rect x="142" y="4" width="4" height="4" fill="#030303"/>
                        <rect x="156" y="4" width="4" height="4" fill="#030303"/>
                        <rect x="128" y="28" width="4" height="4" fill="#030303"/>
                        <rect x="142" y="28" width="4" height="4" fill="#030303"/>
                        <rect x="156" y="28" width="4" height="4" fill="#030303"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M96 32L128 64V32H96Z" fill="#FFF7F0"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M96 32L128 64V32H96Z" fill="#552049"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M32 64L0 32V64H32Z" fill="#F39E9E"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M96 32L128 0V32H96Z" fill="#FFF7F0"/>
                      </svg>
                    <p class="ui-grid-columns__item-title">Photography</p>
                </div>
                <div class="ui-grid-columns__item ui-grid-columns__item--medium ui-grid-columns__item--brown">
                    <svg class="ui-grid-columns__item-icon" width="128" height="64" viewBox="0 0 128 64" fill="none">
                        <circle cx="80" cy="16" r="14" stroke="#F39E9E" stroke-width="4"/>
                        <circle cx="48" cy="16" r="14" stroke="#F39E9E" stroke-opacity="0.5" stroke-width="4"/>
                        <circle cx="16" cy="16" r="14" stroke="#F39E9E" stroke-opacity="0.25" stroke-width="4"/>
                        <circle cx="112" cy="16" r="14" stroke="#FFF7F0" stroke-width="4"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M128 64L96 32V64H128Z" fill="#F39E9E"/>
                        <rect x="32" y="32" width="64" height="32" rx="16" fill="#F6A560"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 46H0V50H4H8V46H4ZM28 46H32H36V50H32H28V46ZM56 46H60H64V50H60H56V46Z" fill="#FFF7F0"/>
                      </svg>
                    <p class="ui-grid-columns__item-title">Motion Graphics</p>
                </div>
            </div>
        </div>
    </div>
</section>