/* ==========================================================================
  HEADING
  ========================================================================== */

$heading-l-mobile:  36px;
$heading-l-tablet:  44px;
$heading-l-desktop: 56px;

$heading-m-mobile:  26px;
$heading-m-tablet:  32px;
$heading-m-desktop: 40px;

$heading-s-mobile:  24px;
$heading-s-tablet:  18px;
$heading-s-desktop: 32px;

/*
  @extend .heading-l;
*/
.heading-l {
  font-size: $heading-l-mobile;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: $heading-l-tablet;
  }

  @media (min-width: 1024px) {
    font-size: $heading-l-desktop;
  }
}
/*
  @extend .heading-m;
*/
.heading-m {
  font-size: $heading-m-mobile;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: $heading-m-tablet;
  }

  @media (min-width: 1024px) {
    font-size: $heading-m-desktop;
  }
}

/*
  @extend .heading-s;
*/
.heading-s {
  font-size: $heading-s-mobile;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: $heading-s-tablet;
  }

  @media (min-width: 1024px) {
    font-size: $heading-s-desktop;
  }
}

/* ==========================================================================
  TEXT
  ========================================================================== */

$text-m: 18px;
$text-s: 16px;

/*
  @extend .text;
*/
.text {
    --text-size: #{$text-s};
    font-size: var(--text-size);
    font-weight: 500;
    line-height: 28px;

    @media (min-width: 768px) {
        --text-size: #{$text-m};
        line-height: 26px;
    }
}