@import '../styles/fonts';

.hero {
    max-width: 575px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 3rem auto 0 auto;

    @media (min-width: 768px) {
        gap: 27px;
    }
    @media (min-width: 1024px) {
        gap: 23px;
    }

    &__title,
    &__text {
        text-align: center;
    }

    &__title {
        @extend .heading-l;
    }

    &__text {
        @extend .text;
        padding: 0 1rem;
    }
}