.header {
    max-width: 1111px;
    width: 90%;
    height: max-content;
    display: grid;
    grid-template-columns: 48px auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 0rem;

    @media (min-width: 768px) {
        grid-template-columns: 64px auto;
    }
}